// Variables
// fonts
$font-sm: 0.875rem;
$font-md: 1.125rem;

// colors
$dark-blue: #08003f;
$light-blue: #b6b3ff;
$darker-light-blue: #6c8bba;
$lighter-dark-blue: #244789;
$white: #f8f8f8;
$gray: #d3d3d3;

